.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

::selection {
  background-color: #55c57a;
  color: #fff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  padding: 3rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../assets/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header .heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem; }
    .header .heading-primary--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 1.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .header .heading-primary--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1rem;
      animation: moveInRight 1s ease-out; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.main {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../assets/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }

.feed-container {
  position: absolute;
  height: 48rem;
  width: 35rem;
  background: rgba(247, 247, 247, 0.4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.2);
  padding: 20px; }
  .feed-container .image-box {
    margin-left: 30%;
    margin-top: 3rem; }
  .feed-container .name {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #eee;
    text-transform: uppercase; }
  .feed-container .seperator {
    display: block;
    height: .5rem;
    width: 100%;
    background-color: #28b485; }
  .feed-container .input-box {
    margin: 1rem auto; }
    .feed-container .input-box .email-box {
      border: 3px solid #28b485;
      height: 6rem;
      width: 100%;
      border-radius: 20px; }
      .feed-container .input-box .email-box:focus {
        outline: none !important; }
    .feed-container .input-box .text-box {
      border: 3px solid #28b485;
      height: 15rem;
      width: 100%;
      border-radius: 20px; }
      .feed-container .input-box .text-box:focus {
        outline: none !important; }
  .feed-container .btn-container {
    margin-top: 1rem;
    position: absolute;
    right: 2.2rem; }
    .feed-container .btn-container .btn-feed {
      font-size: 1.3rem;
      font-weight: bold; }
  .feed-container .msg {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: #f7f7f7;
    position: absolute;
    bottom: 2rem;
    left: 5rem; }

.u-text-center {
  text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  .section-about .heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    margin-bottom: 2rem; }
    .section-about .heading-secondary:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.about-philippine .about-heading {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.about-philippine .about {
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 2rem; }

.why-philippine .about-heading {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.why-philippine .about {
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 2rem; }

.photo-gallery {
  padding: 10rem;
  background-color: #eee; }
  .photo-gallery .heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    margin-bottom: 2rem; }
    .photo-gallery .heading-secondary:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .photo-gallery .row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    /* Create four equal columns that sits next to each other */ }
    .photo-gallery .row img:hover {
      transform: scale(1.5); }
    .photo-gallery .row .column {
      -ms-flex: 25%;
      /* IE10 */
      flex: 25%;
      max-width: 25%;
      padding: 0 4px; }
      .photo-gallery .row .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%; }

@media screen and (max-width: 1100px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%; } }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%; } }

.tours {
  height: 95vh;
  background-image: url(../assets/hero2.webp);
  background-size: cover;
  background-position: center;
  position: relative; }
  .tours .image-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .tours .text {
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5rem;
    position: absolute;
    top: 2.6rem;
    left: 8.8rem; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
